.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}


.search-bar-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-bar-input {
    width: 50%;
    height: 40px;
    border: 2px solid var(--ifm-color-primary);
    border-radius: 30px;
    font-size: 18px;
    padding: 18px;
    color: var(--ifm-color-secondary-contrast-foreground)
}

.search-bar-input:focus {
    outline-color: var(--ifm-color-primary);
    outline-offset: 1px;
}

@media screen and (max-width: 1000px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .search-bar-input {
        width: 90%;
        height: 40px;
        border: 1px solid var(--ifm-color-primary);
        border-radius: 30px;
        font-size: 18px;
        padding: 18px
    }
    
}