.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #f0f0f0;
}

.featureImage {
  height: 300px;
  width: 300px;
}

.featureTitle {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}