.heroBanner {
    padding: 1.5rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: black;
}

.hero__subtitle {
    font-size: 3rem;
    font-weight: 800;
    font-family: Inter, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-text-fill-color: #eeeeeef5 !important;
    -webkit-text-stroke: 1px !important;
    /* backdrop-filter: blur(1px) saturate(90%); */
    /* padding-top: 0; */
    margin: 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

/* Ensure side-by-side layout on larger screens */
.contentBlock {
    max-width: 50%;
}

.imageBlock {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    max-width: 50%;
}


/* fade in effects */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero__subtitle__fadein {
    font-size: 3vw;
    font-weight: 800;
    font-family: Inter, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-text-fill-color: #eeeeeef5 !important;
    /* backdrop-filter: blur(1px) saturate(90%); */
    /* padding-top: 0; */
    margin: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
}

@media screen and (max-width: 1200px) {
    .container {
        /* Stack elements vertically on small screens */
        flex-direction: column;
        align-items: center;
        /* Center-align items for a cleaner look */
    }

    /* Ensure both content and image take full width on smaller screens */
    .contentBlock,
    .imageBlock {
        max-width: 100%;
        width: 100%;
    }

    .contentBlock {
        margin-top: 2rem;
    }

    .hero__subtitle__fadein {
        font-size: 8vw;
        /* Adjust font size for visibility on small screens */
    }

    .heroBanner {
        padding: 1rem;
        /* Reduced padding */
    }

    /* Reorganize layout for smaller screens */
    .container {
        flex-direction: column;
    }

    /* Adjust image styles for small screens */
    .container img {
        max-width: 100%;
        margin-top: 2rem;
        /* Add space above the image */
    }
}