/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: black;
}

.hero__subtitle {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  font-family: Inter, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-text-fill-color: #eeeeeef5 !important;
  -webkit-text-stroke: 1px !important;
  /* backdrop-filter: blur(1px) saturate(90%); */
  /* padding-top: 0; */
  margin: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* fade in effects */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero__subtitle__fadein {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  font-family: Inter, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-text-fill-color: #eeeeeef5 !important;
  -webkit-text-stroke: 1px !important;
  /* backdrop-filter: blur(1px) saturate(90%); */
  /* padding-top: 0; */
  margin: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
}