html {
  background-color: #f0f0f0;
}
section:first-of-type {
  margin-top: 144px;
}

section {
  display: inline-block;

  height: calc(100vh - 144px);
  width: 100%;

  padding: 0 6%;
}

section#section-2 {
  padding: 0;
}
section#section-3 {
  background-color: #00B140;
}

@media only screen and (min-width: 979px) and (max-width: 1368px) {  
  section:first-of-type {
    margin-top: calc(144px + 8px);
  }
}

@media only screen and (max-width: 978px) {
  section:first-of-type {
    margin-top: calc(64px + 8px);
  }
}
