.cardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: auto;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    background-color: white;
    color: black;
    border-width: 0;
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 1rem 0;
}


.features {
    background-color: #5c6472;
}

.featureSvg {
    height: 100px;
    width: auto;
    object-fit: contain;
    margin-bottom: 2rem;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .cardContainer {
        justify-content: space-evenly;
        /* Adjust spacing for medium screens */
    }
}

@media (max-width: 768px) {
    .cardContainer {
        justify-content: center;
        /* Center cards on smaller screens */
    }

    .card {
        margin: 1rem 0.5rem;
        /* Adjust margins for smaller screens */
    }
}