@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: Poppins;
}

.navbar {
  height: auto;
}

.navbar__logo {
  flex: 0 0 auto;
  height: 4rem;
  margin-right: 0.5rem;
}

.footer__link-item,
.navbar__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
