/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-ExtraBold.ttf");
  font-weight: bolder;
}

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-ExtraBoldItalic.ttf");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Rethink-Sans';
  src: url("../../static/fonts/rethink-sans/RethinkSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00B140;
  --ifm-color-primary-dark: #008F34;
  --ifm-color-primary-darker: #006625;
  --ifm-color-primary-darkest: #003D16;
  --ifm-color-primary-light: #00E052;
  --ifm-color-primary-lighter: #0AFF64;
  --ifm-color-primary-lightest: #33FF7E;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Rethink-Sans';
  --ifm-heading-font-family: 'Rethink-Sans';
  --ifm-font-family-monospace: 'Rethink-Sans';
  --ifm-font-weight-semibold: 600;


  --ifm-footer-background-color: #101820;
  --ifm-footer-color: #ffffff;
  --ifm-footer-link-color: #00B140;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Using default light as primary for dark mode */
  --ifm-color-primary: #00E052;
  --ifm-color-primary-dark: #00B140;
  --ifm-color-primary-darker: #008F34;
  --ifm-color-primary-darkest: #006625;
  --ifm-color-primary-light: #0AFF64;
  --ifm-color-primary-lighter: #33FF7E;
  --ifm-color-primary-lightest: #5CFF98;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);


}

/* Customized changes */
.navbar {
  height: auto;
  font-family: 'Rethink-Sans';
  font-weight: bold;
}

.navbar__logo {
  flex: 0 0 auto;
  height: 4rem;
  margin-right: 0.5rem;
}



