
div#text-container {
  flex: 1;
  width: 100%;
}

h1#title {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: calc(90px + 1vw);
  color: #101820;
}

i#piece {
  color: #00B140;
  font-style: italic;
  font-weight: 500;
}

div#subtitle-container {
  margin-top: 20px;
  max-width: 100%;

  font-family: 'Rethink Sans';
  font-style: normal;


  line-height: 125%;

  color: #101820;
}

h3#subtitle {
  font-size: calc(20px + 0.2vw);
  font-weight: 400;
}

h3#subtitle > b {
  font-weight: 500;
}

div#button-container {
  margin-top: 6%;
  margin-bottom: 3%;
}

div#button-container > button {
  width: 32%;
  height: 16%;

  font-size: 28px;
  font-weight: 500;
  margin-right: 36px;
}

@media only screen and (min-width: 979px) and (max-width: 1368px) {
  #title-container {
    margin-top: 24px;
  }

  h1#title {
    font-size: calc(90px + 1vw);
  }

  div#subtitle-container {
    max-width: 70%;
  }

  h3#subtitle {
    /* font-size: 2vw; */
    font-size: calc(20px + 0.2vw);
  }

  div#subtitle-container {
    margin: 0;
  }

  div#button-container{
    margin-bottom: 24px;
    margin-top: 8px;
  }

  div#button-container > button {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1144px) {

  #title-container {
    margin-top: 24px;
    width: 100%;
  }

  h1#title {
    /* font-size: 10vw; */
    font-size: calc(90px + 1vw);
  }

  h3#subtitle  {
    /* font-size: 3vw; */
    font-size: calc(20px + 0.2vw);
  }

  div#button-container{
    margin-bottom: 24px;
    margin-top: 0;
  }

  div#button-container > button {
    font-size: 18px;
  }
}


@media only screen and (max-width: 1144px) {
  h1#title {
    font-size: calc(36px + 1vw);
  }
}